body{
    background-color: rgba(1,1,1,0.6);
    background-image: url(./img/dark-bg.jpg);
}
/* Navigation Bar */
.navbar {
    height: 100%;
    width: 250px;
    justify-content: center;
    place-items: center;
    text-align: center;
    background-color: rgba(217, 217, 217, 0.72);
    display: block;
}
.logo {
    width: 50%;
    margin: 20px auto 40px;
}
.nav_logo {
    max-height: 24px;
    max-width: 24px;
}
.nav_button {
    width: 250px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    font-family: Tahoma, sans-serif;
    text-align: center;
}
.nav_button:hover {
    width: 250px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border: 0px;
    font-family: Tahoma, sans-serif;
    text-align: center;
}
.home {
    background-color: rgba(1, 1, 1, 0.7);
    height: 100%;
    width: 100%;
}
/* Drop Down */
.avatar_dropdown {
    text-align: right; 
    margin-right: 20%; 
    width: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative; 
    display: inline-block;
}
.dropDownBtn {
    min-width: 150px;
    height: 40px;
    text-align: right;
    font-size: medium;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}
.dropbtn {
    background-color: rgba(255,255,255,0); 
    padding: 0px; 
    border: 0px;
}
.dropDownList {
    position: absolute; 
    right: -30px; 
    left: auto;
    display: none;
}
.showDropDown {
    display: block;
}
/* Search Bar */
.header {
    grid-template-columns: 90% 10%;
}
.search {
    font-family: Tahoma, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search input {
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border-width: 0px;
    font-size: 20px;
    margin: 0 auto;
    color: rgba(1, 1, 1, 1);
    border: 1px solid;
    padding-left: 10px;
}
.search img {
    width: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
}
/* Song Header */
.song-header {
    width: 600px; 
    grid-template-columns: 15% auto 30%; 
    display: grid; 
    gap: 10px; 
    margin-left: 100px; 
    font-family: Roboto, sans-serif;
}
.song-image {
    width: 90px; 
    height: 90px;
    border: 2px solid white;
}
.song-name {
    grid-template-rows: 20% 25% auto;
    color: white; 
    display: grid;
}
.song-name h4 {
    margin-top: 0px; 
    margin-bottom: 10px;
}
.song-name h2 {
    margin-top: 0px; 
    margin-bottom: 10px;
}
/* Play Button */
.playBtn {
    font-family: Roboto, sans-serif; 
    justify-content: center;
    text-align: center;
    width: fit-content; 
    height: 40px; 
    font-size: 110%;
    font-weight: bold;
    background-color: blue;
    border-radius: 10px;
    margin-top: 20px;
}
/* Copy Right */
.copyright {
    margin-left: 80px;
    font-family: Roboto, sans-serif;
    font-style: italic;
    margin-bottom: 20px;
}
.copyright p {
    color: grey;
    margin: 0px;
}
/* Footer */
.footer {
    width: 100%;
    height: max-content;
    color: white;
    background-color: rgba(217, 217, 217, 0);
}
.footer-content {
    margin: 0 auto; 
    display: grid; 
    grid-template-columns: repeat(3, 30%); 
    gap: 40px; 
    text-align: center;
}
.footer-section h4 {
    font-family: Tahoma, sans-serif; 
    font-size: 1.2rem; 
    margin-bottom: 20px;
}
.footer-section ul {
    list-style: none; 
    padding: 0;
}
.footer-section li a {
    font-family: Tahoma, sans-serif; 
    text-decoration: none;
    color: rgba(217, 217, 217, 1);
}
.footer-bottom {
    text-align: center;
    align-content: center;
    font-family: Roboto, sans-serif;
    padding-top: 2px;
    border-top: 1px solid;
}
/* Switch Song and Play Music */
.playImg {
    width: 30px; 
    height: 30px; 
    margin-left: 10px; 
    margin-right: 10px;
}
/* Pop Up */
.popup {
    width: 100vw; 
    height: 100px; 
    background-color: rgba(217, 217, 217, 1); 
    color: black; 
    bottom: 0px; 
    display: none; 
    position: fixed;
}