.theme-options {
    display: none;
    position: absolute;
    left: -80%; 
    top: 50%;
    background: #fff;
    min-width: 120px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    border-radius: 4px;
    color:black;
}

.submenu-item:hover .theme-options {
    display: block;
}

.theme-options a {
    padding: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-primary);
}

.theme-options a:hover {
    background: #fff;
    color:black;
}

.submenu-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}