body {
    background-image: url('../img/darkbg.jpg');
    background-size: 100% 100%;
}
.dark-body {
    background-image: url('../img/darkbg.jpg');
    background-size: 100% 100%;
}
.light-body {
    background-image: url('../img/lightbg.jpg');
    background-size: 100% 100%;
}
.darkModeToggle {
    width: fit-content; 
    height: fit-content; 
    font-family: Tahoma, sans-serif; 
    font-weight: bold; 
    font-size: medium; 
    border-radius: 10px; 
    color: rgba(255, 255, 255, 1); 
    background-color: rgba(1, 1, 1, 1); 
    cursor: pointer;
}
.dark-button {
    width: fit-content; 
    height: fit-content; 
    font-family: Tahoma, sans-serif; 
    font-weight: bold; 
    font-size: medium; 
    border-radius: 10px; 
    color: rgba(255, 255, 255, 1); 
    background-color: rgba(1, 1, 1, 1); 
    cursor: pointer;
}
.light-button {
    width: fit-content; 
    height: fit-content; 
    font-family: Tahoma, sans-serif; 
    font-weight: bold; 
    font-size: medium; 
    border-radius: 10px; 
    color: rgba(1, 1, 1, 1); 
    background-color: rgba(255, 255, 255, 1); 
    cursor: pointer;
}
/*
body.dark-mode {
    background-color: rgba(1,1,1,1);
    background-image: url('./img/dark-bg.jpg');
}*/
#welcome {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 99vw;
    height: 97vh;
}

/* Change Dark-Light Mode */
/*
.darkModeToggle {
    width: fit-content; 
    height: fit-content; 
    font-family: Tahoma, sans-serif; 
    font-weight: bold; 
    font-size: medium; 
    border-radius: 10px; 
    color: rgba(255, 255, 255, 1); 
    background-color: rgba(1, 1, 1, 1); 
    cursor: pointer;
}
*/
button.dark-mode {
    color: rgba(255, 255, 255, 1); 
    background-color: rgba(1, 1, 1, 1); 
}
button.light-mode {
    color: rgba(1, 1, 1, 1); 
    background-color: rgba(255, 255, 255, 1); 
}
.login, .signup {
    background-color: white;
    width: 500px;
    text-align: center;
    place-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
}
.login {
    height: 280px;
}
.signup {
    height: 320px;
}
.login_form tr, .signup_form tr {
    line-height: 30px;
}
.login_form th, .signup_form th {
    font-size: 100%;
    text-align: left;
}
.login_form th, .login_form td, .signup_form th, .signup_form td {
    font-family: "Tahoma", sans-serif;
}
.login_form td input, .signup_form td input {
    font-size: 100%;
    border-radius: 5px;
}
.nav_form {
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav_form td {
    font-family: Tahoma, sans-serif;
}
input {
    font-family: Tahoma, sans-serif;
}
.login_form, .signup_form {
    align-content: center;
    text-align: center;
    place-items: center;
    justify-content: center;
    margin: 40px auto;
}
.lg {
    align-content: center;
    text-align: center;
    place-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.lg .logo {
    width: 15%;
    height: 15%;
}
.btn {
    height: 30px;
    width: 200px;
    background-color: rgba(43, 61, 180, 1);
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: medium;
    color: white;
    border-radius: 10px;
}
.btn:hover {
    height: 30px;
    width: 200px;
    background-color: rgba(78, 105, 240, 1);
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: medium;
    color: white;
    border-radius: 10px;
}